

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/assets/dariusz-sankowski-56727-unsplash.jpg");
  background-size: cover;
  height: 200px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  -webkit-text-fill-color: rgba(245, 240, 240, 0.966);
}
.spinner {
  top: 110% !important;
  left: 45% !important;
}
.lp-body {
  padding-top: 150px;
  padding-left: 50px;
}
.lp-btn {
  margin-right: 5px;
  border: solid;
  border-width: 3px;
  border-color: rgb(253, 250, 250) !important;
}
.input-field {
  background-color: transparent;
  padding-left: 6px;
}
.form-control:focus {
  background-color: transparent;
  border-color: transparent;
}
.input-field:active {
  background-color: transparent !important;
}

.container {
  width: 850px;
}
.appear {
  font-style: italic;
  font-weight: bold;
  color: rgba(245, 240, 240, 0.966);
  text-align: center;
  position: relative;
  text-decoration: none;
}
table {
  position: relative;
}
*:focus {
  outline: 0 !important;
  outline: none !important;
  }
.btn {
  padding-top: 0;
  padding-bottom: 1px;
  font-style: italic;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border-color: transparent;
}
.btn:hover, .btn:focus {
  background-color: rgb(61, 53, 53) !important;
  border-color: transparent !important;
}
::-webkit-input-placeholder {
  color: rgb(63, 36, 36);
}

.footer{
  font-style: italic;
  border-top: solid;
  border-width: 2px;
  border-color: rgba(63, 36, 36, 0.473);
  background-color: rgba(8, 0, 0, 0.39);
  text-align: center;
  position: fixed;
  padding: 5px 20px 5px 20px;
  width: 100%;
  bottom: 0;
}
/*Login and sign up pages*/
.diary-buttons {
  color: brown;
}
.registerForm {
  width: 90%;
}
.register-login {
  background-color: transparent;
}
