

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/assets/dariusz-sankowski-56727-unsplash.jpg");
  background-size: cover;
  height: 200px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  -webkit-text-fill-color: rgba(245, 240, 240, 0.966);
}
.container {
  width: 750px;
}
.heading-two {
  padding-left: 45px;
}

.appear {
  font-style: italic;
  font-weight: bold;
  color: rgba(245, 240, 240, 0.966);
  text-align: center;
  position: relative;
  text-decoration: none;
}
table {
  position: relative;
}
a {
  color: rgba(26, 14, 14, 0.658);
  text-decoration: none;
  cursor: pointer;
}
.btn {
  padding-top: 0;
  padding-bottom: 12px;
  font-style: italic;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}
.btn:hover {
  background-color: rgb(61, 53, 53);
  border-color: transparent;
}
.lp-btn:hover {
  background-color: transparent;
  border-color: transparent;
}
::-webkit-input-placeholder {
  color: rgb(63, 36, 36);
}

.footer{
  font-style: italic;
  border-top: solid;
  border-width: 2px;
  border-color: rgba(63, 36, 36, 0.473);
  background-color: rgba(8, 0, 0, 0.39);
  text-align: center;
  position: fixed;
  padding: 5px 20px 5px 20px;
  width: 100%;
  bottom: 0;
}

.line {
  border-top: solid;
  border-width: 2px;
  border-color: rgba(63, 36, 36, 0.473);
  width: 100%;
  left: 15%;
  position: relative;
  bottom: 83%;
}

/*Login and sign up pages*/
.create{
  position: relative;
  right: 20%;
}
.register-login {
  background-color: transparent;
}
#log_in {
  text-align: left;
}

#reg {
  box-shadow: 15%;
  width: 50%;
  border-radius: 10px;
  text-align: right;
  position: relative;
  left: 25%;
}
/* #credentials {
  font-size: 40px;
  border: 5px;
  background-color: transparent;
  left: 40%;
  border: solid;
  border-width: 2px;
  background-color: rgba(8, 0, 0, 0.39);
  border-color: rgba(63, 36, 36, 0.473);
  border-radius: 5%;
} */
#alt_credentials {
  position: relative;
  width: 50%;
  font-size: 20px;
  left: 35%;
}

.alt_cred {
  width: 25%;
  left: 20%;
}
.o_auth {
  position: relative;
  left: -15%;
}

input {
  outline: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(63, 36, 36, 0.473);
  vertical-align: top;
}
#native {
  position: absolute;
  left: 50%;
  border: solid;
  border-width: 2px;
  border-radius: 5%;
  min-width: 10%;
}

/*Home page and Entry page*/
#home_nav{
  left: 40%;
  width: 75%;
}

#entry {
  color: white;
  outline: none;
  min-width: 100%;
  width: 70%;
  border-radius: 5px;
  background-color: transparent; 
  border-color: rgba(63, 36, 36, 0.473);
  border-width: 4px;
  box-shadow: 6px 6px rgba(245, 223, 223, 0.219);
  font-style: italic;
  font-weight: bold;
}

.added {
  color: white;
  outline: none;
  min-width: 100%;
  width: 70%;
  border-radius: 5px;
  background-color: transparent; 
  border-color: rgba(63, 36, 36, 0.473);
  border-width: 4px;
  box-shadow: 6px 6px rgba(245, 223, 223, 0.219);
  font-style: italic;
  font-weight: bold;
}
.each {
  color: rgba(245, 240, 240, 0.966);
  height: 30px;
  width: 700px;
  border: solid;
  border-width: 2px;
  background-color: rgba(8, 0, 0, 0.39);
  border-color: transparent;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
}
#entries_block {
  position: relative;
  position: relative;
  left: 25%;
}
td.each :hover {
  -webkit-transition-duration: 5s;
  transition-duration: 5s;/*not yet there*/
  text-transform: uppercase;
  opacity: 0;
}

#del {
  position: relative;
  left: 40%;
  cursor: pointer;
  width: 20%;
}
.entry {
  position: relative;
}

/*Account page*/
.account {
  width: auto;
  height: 5px;
  display: flex;
  flex-wrap: wrap;
}
.account_table {
  margin: 0 auto;
  border: solid rgba(63, 36, 36, 0.473);
  border-width: 3px;
  border-radius: 5px;
  box-shadow: 6px 6px rgba(63, 36, 36, 0.473);
}
.remind {
  left: 5%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  font-weight: bold;
}

.check {/*adjust chcekbox color*/
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}

.account_settings {
  position: relative;
  margin: 0 auto;
}
.password_settings {
  position: relative;
  margin: 0 auto;
}